/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #000000;
$navbar-bg: #097969;;

// Code blocks
$code-block-bg-alpha: -.8;

:root {
    --text-color: #000; /* default text color */
  }
  
  [data-theme="dark"] {
    --text-color: #fff; /* text color in dark mode */
  }
  
  body {
    color: var(--text-color);
  }

  .dark {
    color: #fff;
  }

