
/*-- scss:defaults --*/

.quarto-about-trestles {
  grid-column: page-start/page-end;
}

$h2-font-size:          1.9rem ;
$headings-font-weight:  500;

/* Set the font family */
$font-family-sans-serif: sans-serif;

/* Increase navbar font size */
.navbar-nav .nav-link {
  font-size: 0.8rem;
 
}

.nav-link {
  background: #097969;
}

.navbar-expand {
  background-color: #097969;
}
.navbar-collapse {
  width: 100vh;
}
/* Increase navbar brand font size */
.navbar-brand {
  font-size: 1.4rem;
}

/* Adjust navbar width */
.navbar {
    max-width: 1800px; /* adjust this value to your liking */
    margin: 0 auto; /* center the navbar */
    height: 50px; 
    
}

.n

body {
  font-size: 18px;
}



/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}  

